<ion-header>
  <ion-toolbar color="primary">
    <ion-title horizontal="start" class="ion-text-uppercase"
      ><ion-icon name="create" class="ion-padding-end"></ion-icon>Mi lista de
      tareas</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-list *ngFor="let item of serviceTask.tasks | orderTask" lines="none">
      <ion-item *ngIf="!item.finished" lines="none">
        <div>
          <ion-checkbox
            [(ngModel)]="item.finished"
            ionChange="onChange($event)"
          ></ion-checkbox>
        </div>

        <!-- (ionChange)="updateFinished(item)" -->

        <!-- Sliding ******************************************************************** -->
        <ion-item-sliding>
          <ion-item>
            <ion-label
              class="ion-padding-start"
              [ngStyle]="{
                'font-weight': item.isImportant ? 'bold' : 'normal'
              }"
            >
              {{ item.description }}</ion-label
            >
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option (click)="presentModal(true, item.id)"
              >Modificar</ion-item-option
            >
            <ion-item-option color="danger" (click)="deleteTask(item)"
              >Borrar</ion-item-option
            >
          </ion-item-options>
        </ion-item-sliding>

        <!-- End  Sliding  **************************************************************-->
      </ion-item>
    </ion-list>

    <!-- *****************************************************************************  -->

    <ion-item lines="node" *ngIf="withFinishedTasks" lines="none">
      <ion-label> Tareas terminadas </ion-label>
    </ion-item>

    <!-- *****************************************************************************  -->
    <ion-list *ngFor="let item of serviceTask.tasks" lines="none">
      <ion-item *ngIf="item.finished" lines="none">
        <div>
          <ion-checkbox
            [(ngModel)]="item.finished"
            (ionChange)="updateFinished(item)"
          ></ion-checkbox>
        </div>
        <!-- ionChange="onChange($event)" -->
        <!-- Sliding ******************************************************************** -->
        <ion-item-sliding>
          <ion-item>
            <ion-label
              class="ion-padding-start"
              [ngStyle]="{
                  'font-weight': item.isImportant ? 'bold' : 'normal',
                  'text-decoration': item.finished ? 'line-through' : 'line-through'
                }"
            >
              {{ item.description }}</ion-label
            >
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="deleteTask(item)"
              >Borrar</ion-item-option
            >
          </ion-item-options>
        </ion-item-sliding>

        <!-- End  Sliding  **************************************************************-->
      </ion-item>
    </ion-list>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="presentModal(false)">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
