<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="font-main">{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="exitModal()"
        ><ion-icon name="power-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formTask" (ngSubmit)="sendTask(formTask.value)">
    <ion-item>
      <ion-label position="floating" color="medium">Tarea o producto</ion-label>

      <ion-input
        formControlName="description"
        clearInput="true"
        type="text"
        class="ion-text-center"
        [ngModel]="formTask.description"
      ></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom" lines="none">
      <ion-checkbox
        formControlName="isImportant"
        color="primary"
        [(ngModel)]="formTask.isImportant"
        events="ionChange"
      ></ion-checkbox>

      <ion-title class="font-main" color="primary">Es importante</ion-title>
    </ion-item>

    <ion-button
      color="primary"
      expand="block"
      type="submit"
      vertical="bottom"
      [disabled]="!formTask.valid"
      >{{actionSend}}</ion-button
    >
  </form>
</ion-content>
