<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Aplicación Personas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Aplicación Personas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list-header>
    <ion-label>Mis Personas</ion-label>
  </ion-list-header>
  <ion-list>
    <ion-row *ngFor="let persona of servicio.personas">
      <ion-col size="10" class="selected">

        <div (click)="navegar(persona.id)">
          <!-- de está manera no hhace falta inyectaarlo en el home.page.ts -->
        <!-- <div routerLink="/detalle-persona/{persona.id}"> -->
          <ion-label>{{persona.nombre|mayusculas}}</ion-label>
          <ion-buttons slot="end"> </ion-buttons>
        </div>
      </ion-col>

      <ion-col size="2" >
        <ion-button
          (click)="deletedPerson(persona)"
          color="danger"
          size="small"
        >
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="addPersona()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
